

.str {
    height: 2px; 
    color: rgb(224, 35, 35);
    background-color: rgb(243, 50, 16); 
    width: 10%; 
    border: none;
}

.pu{

    list-style-type: none;
 
}

.pg {

        font-family:Trebuchet MS;
        font-style: oblique;
        position:relative;
        color:red;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        font-size:25px !important ;
}
.tl{
     width: 110% !important;
    height: auto;
    
}

.bout{

    width:250px;
     height:50px;
     margin-bottom:0px;
     
}

body{


    background-color: rgb(238, 229, 229)

}

.carousel-control-prev-icon {
    height:308px;
   
    outline: black;
    background-size: 100%, 100%;
    background-image: none;

}
.carousel-control-next-icon {
  height: 308px;
  
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
 /* bottom: 16px;*/
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
